/* --------------------------------------------
   Media Input Container
-------------------------------------------- */
.media-input {
  position: relative; /* Позволяет позиционировать элементы внутри относительно этой обертки */
  height: 100%; /* Высота на всю доступную высоту */
  width: 100%;
}

/* --------------------------------------------
   Media Input Box - область для загрузки изображения
-------------------------------------------- */
.media-input__box {
  background: url("https://datingkit.dexignzone.com/xhtml/assets/images/recent-pic/drop-bx.png");
  background-size: cover; /* Масштабирует изображение для покрытия всей области */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повтор изображения */
  background-color: #fff; /* Белый фон, если изображение не загружено */
  border-radius: 12px; /* Округлые углы */
  height: 100%; /* Высота на всю доступную высоту */
  width: 100%;
  border: 2px dashed #e6e6e6; /* Пунктирная рамка серого цвета */
  overflow: hidden; /* Скрывает все содержимое, выходящее за пределы блока */
}

/* --------------------------------------------
   Label - для области, в которую можно кликать для выбора файла
-------------------------------------------- */
.media-input label {
  width: 100%; /* Занимает всю ширину контейнера */
  height: 100%; /* Занимает всю высоту контейнера */
  margin: 0; /* Убирает отступы */
}

/* --------------------------------------------
   Курсор на элементы для клика
-------------------------------------------- */
.media-input :hover {
  cursor: pointer; /* Показывает курсор в виде руки при наведении на элементы */
}

/* --------------------------------------------
   Скрыть файл input
-------------------------------------------- */
.media-input input {
  display: none; /* Скрыть поле ввода файла */
}

/* --------------------------------------------
   Кнопка удаления медиа
-------------------------------------------- */
.media-input__delete {
  width: 30px; /* Ширина кнопки */
  height: 30px; /* Высота кнопки */
  padding: 4px; /* Внутренний отступ */
  border: 2px solid #e6e6e6; /* Граница серого цвета */
  background-color: #fff; /* Белый фон для кнопки */
  border-radius: 50%; /* Округлая форма кнопки */
  position: absolute; /* Позиционирует кнопку относительно родителя */
  right: -15px; /* Сдвиг кнопки вправо */
  bottom: -15px; /* Сдвиг кнопки вниз */
  display: flex; /* Используем flexbox для выравнивания содержимого */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  z-index: 9;
}

/* --------------------------------------------
   Кнопка удаления при наведении
-------------------------------------------- */
.media-input__delete:hover {
  cursor: pointer; /* Изменяет курсор на руку при наведении */
}

/* --------------------------------------------
   Стили для иконки в кнопке удаления
-------------------------------------------- */
.media-input__delete svg {
  stroke: #232954; /* Цвет иконки */
}
